/* Button */
.btn {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  white-space: nowrap;
  line-height: 40px;
  color: var(--lively_blue-500);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: var(--lively_blue-400);
  }

  &:focus {
    color: var(--lively_blue-600);
  }

  &[disabled] {
    color: var(--lively_blue-300);
    cursor: not-allowed;
  }

  &.btn-large {
    height: 48px;
    font-size: 18px;
    line-height: 48px;
  }

  &.btn-small {
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 32px;
    gap: 8px;
  }

  &.primary {
    color: var(--neutral-100);
    background-color: var(--lively_blue-500);
    border-color: var(--lively_blue-500);

    &:hover {
      background-color: var(--lively_blue-400);
      border-color: var(--lively_blue-400);
    }

    &:focus {
      background-color: var(--lively_blue-600);
      border-color: var(--lively_blue-600);
    }

    &[disabled] {
      color: var(--lively_blue-300);
      background-color: var(--lively_blue-100);
      border-color: var(--lively_blue-300);
    }
  }

  &.secondary {
    color: var(--neutral-600);
    background-color: var(--neutral-300);
    border-color: var(--neutral-300);

    &:hover {
      background-color: var(--neutral-200);
      border-color: var(--neutral-200);
    }

    &:focus {
      background-color: var(--neutral-400);
      border-color: var(--neutral-400);
    }

    &[disabled] {
      color: var(--neutral-400);
      background-color: var(--neutral-200);
      border-color: var(--neutral-300);
    }
  }

  &.danger {
    color: var(--neutral-100);
    background-color: var(--lively_pink-500);
    border-color: var(--lively_pink-500);

    &:hover {
      background-color: var(--lively_pink-400);
      border-color: var(--lively_pink-400);
    }

    &:focus {
      background-color: var(--lively_pink-600);
      border-color: var(--lively_pink-600);
    }

    &[disabled] {
      color: var(--lively_pink-300);
      background-color: var(--lively_pink-100);
      border-color: var(--lively_pink-300);
    }
  }

  &.hidden {
    display: none;
  }
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.6;
}

.breadcrumb-item {
  color: var(--neutral-500);
  cursor: pointer;

  &:hover {
    color: var(--neutral-400);
  }

  &.slash {
    min-width: 24px;
    text-align: center;
    pointer-events: none;
  }

  &.active {
    color: var(--neutral-700);
    pointer-events: none;
  }
}

/* Table */
.table-container {
  max-width: 100%;
  max-height: calc(100dvh - 400px);
  overflow: auto;
}

table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

thead {
  background-color: var(--neutral-600);
  color: var(--neutral-100);
  position: sticky;
  top: 0;
  z-index: 2;

  th {
    height: 54px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: bold;
    text-align: left;
    user-select: none;
    white-space: nowrap;
    position: relative;

    &:last-child {
      position: sticky;
      right: 0;
      z-index: 1; /* 避免被蓋住 */
      background-color: var(--neutral-600);
    }

    &.sortable {
      cursor: pointer;

      .sort-icon {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        right: 8px;
        top: 18px;

        i {
          opacity: 0.3;
          height: 4px;
        }

        .active {
          opacity: 1;
        }
      }
    }
  }
}

tbody {
  td {
    min-height: 54px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.6;
    position: relative;

    /* 使用偽元素繪製底線
      * 1. 解決瀏覽器因浮點數寬度計算誤差，導致的 `border-bottom` 有時無法正確渲染的問題。
      * 2. 確保在表格縮放或滾動時，底線能穩定且一致顯示。
      */
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: var(--neutral-400);
      z-index: 0; /* 確保偽元素不會被遮擋 */
    }

    &:last-child {
      background-color: var(--neutral-100);
      position: sticky;
      right: 0;
      z-index: 1; /* 避免被蓋住 */

      /* 陰影效果 */
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 10px;
        left: -10px;
        bottom: -1px;
        overflow-x: hidden;
        overflow-y: hidden;
        touch-action: none;
        pointer-events: none;
        box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .btn-group {
    display: flex;
    gap: 8px;
  }

  p {
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
  }
}

/* 依照需求特定欄位設定寬度 */
th {
  &:not(.custom-width) {
    min-width: 120px;
  }
  &:nth-child(3) {
    width: 420px;
    min-width: 280px;
  }
}

td {
  &:nth-child(3) {
    width: 420px;
    min-width: 280px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  user-select: none;

  .total {
    flex: 1;
  }

  .pagination-list {
    display: flex;
    gap: 8px;
    padding: 0;
  }

  .pagination-arrow,
  .pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    padding: 0 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: var(--neutral-700);
    border: 1px solid var(--neutral-400);
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &.active {
      color: var(--lively_blue-400);
      border-color: var(--lively_blue-400);
    }

    &[disabled] {
      color: var(--neutral-400);
      border-color: var(--neutral-400);
      background-color: var(--neutral-200);
      cursor: not-allowed;
    }
  }
}

/* Select */
.select-trigger {
  display: inline-flex;
  align-items: center;
  width: 120px;
  min-height: 32px;
  padding: 4px 12px;
  font-size: 14px;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-400);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  position: relative;

  .trigger-arrow {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Select Options (掛在 body 下) */
.dropdown-panel {
  position: absolute;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-400);
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.075);
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  opacity: 0;
  z-index: 1000;

  &.open {
    opacity: 1;
    max-height: 200px; /* 或其他想要的高度 */
    overflow-y: auto;
  }
}

.dropdown-option {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.6;
  cursor: pointer;

  &:hover {
    background-color: var(--neutral-300);
  }

  &:last-child {
    border-bottom: none;
  }
}

/* Input */
input[type="text"] {
  appearance: none;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--neutral-700);
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-400);
  border-radius: 4px;
  transition: border-color 0.2s ease;

  &:focus {
    border-color: var(--lively_blue-500);
    outline: none;

    ~ .clear {
      display: flex;
    }
  }

  &::placeholder {
    color: var(--neutral-400);
  }

  &[disabled] {
    color: var(--neutral-400);
    background-color: var(--neutral-200);
    border-color: var(--neutral-400);
    cursor: not-allowed;
  }

  &.small {
    height: 32px;
    font-size: 14px;
  }

  &.large {
    height: 48px;
    font-size: 18px;
  }
}

.input-wrapper {
  position: relative;

  .prefix,
  .suffix {
    position: absolute;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    color: var(--neutral-500);
    font-size: 12px;
  }

  .prefix {
    top: 50%;
    left: 8px;
  }

  .suffix {
    top: 50%;
    right: 8px;

    &.clear {
      display: none;
      color: var(--neutral-400);
      cursor: pointer;
    }
  }

  input {
    padding-left: 28px;
    padding-right: 24px;
  }
}

/* Checkbox */
input[type="checkbox"] {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--neutral-400);
  border-radius: 4px;
  background: var(--neutral-100);
  cursor: pointer;

  &:hover {
    border-color: var(--lively_blue-500);
  }

  &:checked {
    background: var(--lively_blue-500);
    color: var(--neutral-100);
    border-color: var(--lively_blue-500);

    &::before {
      content: "\f00c"; // FontAwesome Check
      font-family: "Font Awesome 6 Free";
      font-weight: bold;
      display: block;
      color: var(--neutral-100);
      font-size: 10px;
      line-height: 16px;
      text-align: center;
    }
  }

  &.intermediate {
    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: var(--lively_blue-500);
    }

    &[disabled] {
      &::before {
        background-color: var(--neutral-400);
      }
    }
  }

  &[disabled] {
    background: var(--neutral-200);
    border-color: var(--neutral-400);
    cursor: not-allowed;

    &:checked {
      background: var(--neutral-400);
      border-color: var(--neutral-400);
    }
  }
}

/* Badge */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  padding: 0 8px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: -50%;
  top: -50%;
  transform: translate(-50%, 50%);

  &.small {
    height: 16px;
  }

  &.red {
    background-color: var(--lively_pink-400);
    color: var(--neutral-100);
  }
}

/* Tabs */
.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.tab-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .tab {
    display: flex;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    padding: 8px 20px;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--lively_blue-400);
    }

    &.active {
      font-weight: bold;
      color: var(--lively_blue-400);
      border-bottom: 2px solid var(--lively_blue-400);
    }
  }
}

.tab-contents {
  padding: 16px 24px;
  background-color: var(--neutral-100);
}

.tab-content {
  display: none; /* 預設不顯示 */

  &.active {
    display: block;
  }
}

/* Tooltip */
.popover-tooltip {
  position: absolute;
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;

  &.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    position: relative;
    width: 100%;
    max-width: 480px;
    background-color: var(--neutral-100);
    border-radius: 4px;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1);
    z-index: 2020; /* 保持在 overlay 之上 */
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid var(--neutral-400);
    position: relative;

    .modal-title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
    }

    .close-btn {
      font-size: 16px;
      color: var(--neutral-500);
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  .modal-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.6;
    color: var(--neutral-700);

    p {
      margin: 0;
      word-break: break-all;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 10px 16px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2010;
}

/* Toast */
.toast-message {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background-color: var(--neutral-200);
  color: var(--neutral-800);
  border: 1px solid var(--neutral-400);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.6;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1);
  z-index: 3000;

  &::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    content: "\f05a"; // FontAwesome Info Circle
    font-family: "Font Awesome 6 Free";
    font-size: 16px;
    font-weight: 900;
    color: var(--neutral-500);
  }

  &.success {
    background-color: var(--lively_green-100);
    border-color: var(--lively_green-300);

    &::before {
      content: "\f058"; // FontAwesome Check Circle
      color: var(--lively_green-400);
    }
  }

  &.error {
    background-color: var(--lively_pink-100);
    border-color: var(--lively_pink-300);

    &::before {
      content: "\f057"; // FontAwesome X Mark Circle
      color: var(--lively_pink-400);
    }
  }

  &.warning {
    background-color: var(--lively_yellow-100);
    border-color: var(--lively_yellow-400);

    &::before {
      content: "\f06a"; // FontAwesome Exclamation Circle
      color: var(--lively_yellow-400);
    }
  }
}
