/* Custom styles */
.table-container {
  max-height: 70vh; /* 限制表格高度，讓表頭 sticky 定位 */
  overflow: auto;
}

/* 依照需求特定欄位設定寬度 */
#dataTable {
  thead {
    th {
      &:first-child {
        width: 48px;
        min-width: 48px;
      }

      &:nth-child(2) {
        width: 84px;
        min-width: 84px;
      }

      &:nth-child(3) {
        width: 160px;
        min-width: 160px;
      }

      &:nth-child(4) {
        width: 260px;
        min-width: 260px;
      }

      &:nth-child(5) {
        min-width: 320px;
      }

      &:nth-child(6) {
        min-width: 120px;
      }

      &:last-child {
        width: 148px;
        min-width: 148px;
      }
    }
  }

  tbody {
    td {
      &:nth-child(4) {
        width: 260px;
        max-width: 260px;
      }

      &:nth-child(5) {
        max-width: 420px;
      }

      &:nth-child(6) {
        min-width: 120px;
      }
    }
  }
}

.search-box {
  width: 200px;
}

.status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.status-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;

  &.pending {
    color: var(--lively_purple-500);
  }
  &.reviewing {
    color: var(--lively_yellow-500);
  }
  &.recheck {
    color: var(--lively_pink-500);
  }
  &.closed {
    color: var(--neutral-500);
  }
}

#queryForm {
  .form-item-title {
    flex-basis: 120px;
  }
}

#createForm {
  .form-item-title {
    flex-basis: 190px;
  }
}

#formGroup {
  .form-item-title {
    flex-basis: 160px;
  }
}

#editSingleModal {
  .modal-content {
    width: 70vw;
    max-width: 1000px;
    opacity: 0;
    transform: translateY(-50%);
    animation: slideIn 0.3s ease forwards; /* 滑入動畫效果 */
  }
}

@media screen and (max-width: 992px) {
  #queryForm,
  #createForm,
  #formGroup,
  #editSingleModal {
    .form-item-title {
      flex-basis: auto;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
