/* Custom styles */
.tab-contents {
  padding-top: 0;
}

.table-action {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 16px 0;
  z-index: 10;
}

#dataTable {
  thead {
    position: sticky;
    top: 64px;
    z-index: 2;
  }
}

.search-box {
  width: 200px;
}

.status-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;

  &.pending {
    color: var(--lively_purple-400);
  }
  &.reviewing {
    color: var(--lively_yellow-400);
  }
  &.recheck {
    color: var(--lively_pink-400);
  }
  &.closed {
    color: var(--neutral-400);
  }
}

#editSingleModal {
  .modal-content {
    max-width: 70vw;
    opacity: 0;
    transform: translateY(-50%);
    animation: slideIn 0.3s ease forwards; /* 滑入動畫效果 */
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
