:root {
  --lively_blue-100: #f4faff;
  --lively_blue-200: #d2e9fc;
  --lively_blue-300: #add5f5;
  --lively_blue-400: #76b7ed;
  --lively_blue-500: #79acd6;
  --lively_blue-600: #4c759e;
  --lively_blue-700: #3a5978;
  --lively_blue-800: #2c425c;
  --lively_purple-100: #f8faff;
  --lively_purple-200: #dae2ff;
  --lively_purple-300: #bbcbff;
  --lively_purple-400: #a9b8ec;
  --lively_purple-500: #94a3d7;
  --lively_purple-600: #5f6b8c;
  --lively_purple-700: #434c6c;
  --lively_purple-800: #3a4052;
  --lively_green-100: #eff9f8;
  --lively_green-200: #e2f6f5;
  --lively_green-300: #b7e9e6;
  --lively_green-400: #69d1cb;
  --lively_green-500: #7bbcb8;
  --lively_green-600: #448080;
  --lively_green-700: #325e5e;
  --lively_green-800: #274a4a;
  --lively_pink-100: #fff6f6;
  --lively_pink-200: #ffdbda;
  --lively_pink-300: #ffc1bf;
  --lively_pink-400: #eb7d7a;
  --lively_pink-500: #d16c69;
  --lively_pink-600: #b15e5b;
  --lively_pink-700: #854844;
  --lively_pink-800: #633331;
  --lively_yellow-100: #fffbf2;
  --lively_yellow-200: #fff0cd;
  --lively_yellow-300: #ffe5a7;
  --lively_yellow-400: #f6d27e;
  --lively_yellow-500: #dbb763;
  --lively_yellow-600: #88713b;
  --lively_yellow-700: #69562d;
  --lively_yellow-800: #4a3e20;
  --neutral-100: #ffffff;
  --neutral-200: #fafafa;
  --neutral-300: #f0f0f0;
  --neutral-400: #bfbfbf;
  --neutral-500: #999999;
  --neutral-600: #666666;
  --neutral-700: #333333;
  --neutral-800: #000000;
}

@import "./_normalize.scss";
@import "./_components.scss";
@import "./_layout.scss";
@import "./_utils.scss";
@import "./_custom.scss";
@import "./login.scss";
